<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>servlets.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddEmprunt</display-name>
    <servlet-name>AddEmprunt</servlet-name>
    <servlet-class>servlets.AddEmprunt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEmprunt</servlet-name>
    <url-pattern>/AddEmprunt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddEmprunteur</display-name>
    <servlet-name>AddEmprunteur</servlet-name>
    <servlet-class>servlets.AddEmprunteur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEmprunteur</servlet-name>
    <url-pattern>/AddEmprunteur</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddOuvrage</display-name>
    <servlet-name>AddOuvrage</servlet-name>
    <servlet-class>servlets.AddOuvrage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddOuvrage</servlet-name>
    <url-pattern>/AddOuvrage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>servlets.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteEmprunteur</display-name>
    <servlet-name>DeleteEmprunteur</servlet-name>
    <servlet-class>servlets.DeleteEmprunteur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteEmprunteur</servlet-name>
    <url-pattern>/DeleteEmprunteur</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteOuvrage</display-name>
    <servlet-name>DeleteOuvrage</servlet-name>
    <servlet-class>servlets.DeleteOuvrage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteOuvrage</servlet-name>
    <url-pattern>/DeleteOuvrage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OuvrageManager</display-name>
    <servlet-name>OuvrageManager</servlet-name>
    <servlet-class>servlets.OuvrageManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OuvrageManager</servlet-name>
    <url-pattern>/OuvrageManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmprunteurManager</display-name>
    <servlet-name>EmprunteurManager</servlet-name>
    <servlet-class>servlets.EmprunteurManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmprunteurManager</servlet-name>
    <url-pattern>/EmprunteurManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpruntManager</display-name>
    <servlet-name>EmpruntManager</servlet-name>
    <servlet-class>servlets.EmpruntManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpruntManager</servlet-name>
    <url-pattern>/EmpruntManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DropOuvrageFromList</display-name>
    <servlet-name>DropOuvrageFromList</servlet-name>
    <servlet-class>servlets.DropOuvrageFromList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DropOuvrageFromList</servlet-name>
    <url-pattern>/DropOuvrageFromList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValideEmprunt</display-name>
    <servlet-name>ValideEmprunt</servlet-name>
    <servlet-class>servlets.ValideEmprunt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValideEmprunt</servlet-name>
    <url-pattern>/ValideEmprunt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProlongeManager</display-name>
    <servlet-name>ProlongeManager</servlet-name>
    <servlet-class>servlets.ProlongeManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProlongeManager</servlet-name>
    <url-pattern>/ProlongeManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SanctionManager</display-name>
    <servlet-name>SanctionManager</servlet-name>
    <servlet-class>servlets.SanctionManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SanctionManager</servlet-name>
    <url-pattern>/SanctionManager</url-pattern>
  </servlet-mapping>
</web-app>